@media screen and (max-width: 1024px) {
    // Responisve Global
    .headerLink {
        width: 90%;
    }
    // Responsive Header
    .headerSection {
        .headerContent {
            .headerText {
                padding-left: 4rem;
                padding-top: 8rem;
                .textArea {
                    h1 {
                        font-size: 300%;
                        position: relative;
                        left: -800px;
                    }
                    p {
                        font-size: 110%;
                        font-weight: lighter;
                        line-height: 2.6rem;
                        font-style: italic;
                        position: relative;
                        left: -800px;
                        strong {
                            color: $gradientCyan;
                        }
                    }
                }
            }
        }
    }
    // Responsive Project Header
    .projectHeaderSection {
        background-size: cover;
        height: auto;
    }
    // Responsive About Us
    .aboutUsSection {
        .ceoProfile {
            h3 {
                width: 100%;
                margin: 0 auto;
                font-weight: 500;
                letter-spacing: 0.3rem;
                font-weight: lighter;
                line-height: 2rem;
                text-transform: uppercase;
                font-size: 100%;
                margin-top: 1rem;
            }
        }
        .aboutText {
            h3 {
                width: 90%;
                font-size: 130%;
            }
            p {
                width: 90%;
                font-weight: lighter;
                font-size: 120%;
            }
        }
    }
    // Responsive Services
    .servicesSection {
        .servicesIcons {
            width: 100% !important;
            .servicesList {
                li {
                    margin-top: 3rem;
                    width: 20%;
                    .serviceInfo {
                        span {
                            width: 85%;
                        }
                    }
                }
            }
        }
        .pickUs {
            width: 100% !important;
            h3 {
                font-size: 240%;
            }
            ul {
                li {
                    font-size: 120%;
                }
            }
        }
    }
    // Responsive Projects
    .projectsSection {
        .projectTemplate {
            margin-top: 4rem;
            .rightProjectInfo {
                .projectText {
                    h4 {
                        width: 60%;
                        font-size: 110%;
                    }
                    p {
                        font-size: 120%;
                    }
                    .customerSpan {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    .rateStars {
                        margin-top: 1rem;
                        display: inline-block;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }

    // Responsive Branding Projects
    .projectsBrandingSection {
        .brandingWorkList {
            ul {
                li {
                    width: 42%;
                }
            }
        }
    }

    // Responsive Get In Touch
    .getInTouchSection {
        background-size: cover;
        .subscriptionContent {
            p {
                font-size: 93%;
            }
            a {
                padding: 1rem 7rem;
                font-size: 115%;
            }
        }
    }
    // Responsive Clients
    .clientsSection {
        padding-bottom: 0;
        .ourClientsList {
            padding: 1rem 1rem;
        }
    }

    // Responsive Social Media
    .socialFeedsSection {
        .socialMediaContent {
            .socialText {
                p {
                    font-size: 110%;
                }
                .socialMediaShare {
                    a {
                        font-size: 110%;
                        width: 43%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 950px) {
    // Responisve Global
    .headerLink {
        width: 70%;
    }
    // Responsive Header
    .headerSection {
        .headerContent {
            .topPanel {
                .logoBlock {
                    img {
                        width: 82%;
                        max-width: 82%;
                    }
                }
            }
            .mainNavMenu {
                margin-top: 1rem;
                padding: 2.5rem 0;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 15;
                left: 0;
                right: 0;
                ul {
                    li {
                        padding: 0 1rem;
                        i {
                            padding-right: 0.7rem;
                            font-size: 87%;
                        }
                        a {
                            font-size: 100%;
                        }
                    }
                }
            }
            .headerText {
                padding-left: 2rem;
                padding-top: 1.7rem;
                .textArea {
                    h1 {
                        font-size: 300%;
                        position: relative;
                        left: -800px;
                    }
                    p {
                        font-size: 110%;
                        font-weight: lighter;
                        line-height: 2.6rem;
                        font-style: italic;
                        position: relative;
                        left: -800px;
                        strong {
                            color: $gradientCyan;
                        }
                    }
                }
            }
        }
    }
    // Responsive Schedule Header
    .headerContentSchedule {
        .topPanel {
            .logoBlock {
                img {
                    width: 82%;
                    max-width: 82%;
                }
            }
        }
        .mainNavMenu {
            margin-top: 1rem;
            padding: 2.5rem 0;
            background-color: rgba(0, 0, 0, 0.7);
            z-index: 15;
            left: 0;
            right: 0;
            ul {
                li {
                    padding: 0 1rem;
                    i {
                        padding-right: 0.7rem;
                        font-size: 87%;
                    }
                    a {
                        font-size: 100%;
                    }
                }
            }
        }
    }
    // Responsive Project Header
    .projectHeaderSection {
        .headerContent {
            .topPanel {
                .logoBlock {
                    img {
                        width: 82%;
                        max-width: 82%;
                    }
                }
            }
            .mainNavMenu {
                margin-top: 1rem;
                padding: 2.5rem 0;
                background-color: rgba(0, 0, 0, 0.7);
                z-index: 15;
                left: 0;
                right: 0;
                ul {
                    li {
                        padding: 0 1rem;
                        i {
                            padding-right: 0.7rem;
                            font-size: 87%;
                        }
                        a {
                            font-size: 100%;
                        }
                    }
                }
            }
            .projectDescription {
                padding-left: 2rem;
                .projectLogo {
                    width: 20%;
                    float: left;
                    img {
                        width: 80%;
                    }
                }
                .projectHint {
                    width: 70%;
                    float: left;
                    margin-left: 2rem;
                }
            }
        }
    }
    // Responsive About Us
    .aboutUsSection {
        .ceoProfile {
            h3 {
                width: 100%;
                margin: 0 auto;
                font-weight: 500;
                letter-spacing: 0.3rem;
                font-weight: lighter;
                line-height: 2rem;
                text-transform: uppercase;
                font-size: 100%;
                margin-top: 1rem;
            }
        }
        .aboutText {
            padding-top: 3rem;
            h3 {
                width: 90%;
                font-size: 130%;
            }
            p {
                width: 90%;
                font-weight: lighter;
                font-size: 120%;
            }
        }
    }
    // Responsive Services
    .servicesSection {
        .servicesIcons {
            width: 100% !important;
            .servicesList {
                li {
                    margin-top: 3rem;
                    width: 28%;
                    .serviceInfo {
                        span {
                            width: 85%;
                        }
                    }
                }
            }
        }
        .pickUs {
            width: 100% !important;
            h3 {
                font-size: 240%;
            }
            ul {
                li {
                    font-size: 120%;
                }
            }
        }
    }
    // Responsive Projects
    .projectsSection {
        .projectTemplate {
            margin-top: 4rem;
            .rightProjectInfo {
                .projectText {
                    h4 {
                        width: 60%;
                        font-size: 110%;
                        margin-top: 2rem;
                    }
                    p {
                        font-size: 120%;
                    }
                    .customerSpan {
                        display: inline-block;
                        margin-top: 1rem;
                    }
                    .rateStars {
                        margin-top: 1rem;
                        display: inline-block;
                        margin-left: 2rem;
                    }
                }
            }
        }
    }
    
    // Responsive Clients
    .clientsSection {
        .ourClientsList {
            padding: 2rem 1rem;
            ul {
                text-align: left;
                li {
                    width: 24%;
                    margin: 0 0rem;
                }
            }
        }
    }

    // Responsive Social Media
    .socialFeedsSection {
        .socialMediaContent {
            .socialText {
                p {
                    font-size: 110%;
                }
                .socialMediaShare {
                    a {
                        font-size: 110%;
                        width: 43%;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 730px) {
    .headerLink {
        display: none;
    }
}
@media screen and (max-width: 670px) {
    // Responisve Global
    .mainHeading {
        font-size: 200%;
    }
    .aboutUsHeading, .servicesHeading, .projectsHeading,
    .ourClientsHeading, .socialHeading, .workProjectHeading {
        padding-left: 4rem !important;
        padding-top: 4rem !important;
    }
    .firstUnderline {
        margin-left: 2rem;
        font-size: 60%;
    }
    .secondUnderline {
        font-size: 80%;
    }
    .headerLink {
        display: none;
    }
    // Responsive Header
    .headerSection {
        background-image: url('../images/mobile_bg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: relative;
        height: auto;
        video {
            display: none;
        }
        .headerContent {
            position: relative;
            .topPanel {
                .logoBlock {
                    width: 70% !important;
                    img {
                        width: 70%;
                        max-width: 70%;
                    }
                }
                .navMenuIcon {
                    padding-top: 0.5rem;
                    width: 30% !important;
                    a {
                        span {
                            display: none;
                        }
                        img {
                            float: right;
                        }
                    }
                }
            }
            .mainNavMenu {
                border-radius: 0;
                position: fixed;
                padding: 1.5rem 0;
                ul {
                    li {
                        display: block;
                        padding: 1.5rem 2.2rem;
                        border-bottom: 1px solid #343e38;
                        &:last-child {
                            border: 0;
                        }
                        &:hover {
                            background-color: $mainCyan;
                        }
                        a {
                            font-size: 110%;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
            .headerText {
                padding-left: 1.5rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
                .textArea {
                    h1 {
                        font-size: 230%;
                    }
                    p {
                        font-size: 90%;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    // Responsive Schedule Header
    .headerContentSchedule {
        .topPanel {
            .logoBlock {
                width: 70% !important;
                img {
                    width: 70%;
                    max-width: 70%;
                }
            }
            .navMenuIcon {
                padding-top: 0.5rem;
                width: 30% !important;
                a {
                    span {
                        display: none;
                    }
                    img {
                        float: right;
                    }
                }
            }
        }
        .mainNavMenu {
            border-radius: 0;
            position: fixed;
            padding: 1.5rem 0;
            ul {
                li {
                    display: block;
                    padding: 1.5rem 2.2rem;
                    border-bottom: 1px solid #343e38;
                    &:last-child {
                        border: 0;
                    }
                    &:hover {
                        background-color: $mainCyan;
                    }
                    a {
                        font-size: 110%;
                        &:hover {
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    // Responsive Project Header
    .projectHeaderSection {
        .headerContent {
            position: relative;
            .topPanel {
                .logoBlock {
                    width: 70% !important;
                    img {
                        width: 70%;
                        max-width: 70%;
                    }
                }
                .navMenuIcon {
                    padding-top: 0.5rem;
                    width: 30% !important;
                    a {
                        span {
                            display: none;
                        }
                        img {
                            float: right;
                        }
                    }
                }
            }
            .mainNavMenu {
                border-radius: 0;
                position: fixed;
                padding: 1.5rem 0;
                ul {
                    li {
                        display: block;
                        padding: 1.5rem 2.2rem;
                        border-bottom: 1px solid #343e38;
                        &:last-child {
                            border: 0;
                        }
                        &:hover {
                            background-color: $mainCyan;
                        }
                        a {
                            font-size: 110%;
                            &:hover {
                                color: $white;
                            }
                        }
                    }
                }
            }
            .projectDescription {
                padding-left: 2rem;
                margin-bottom: 0;
                margin-top: 1rem;
                padding-top: 6rem;
                .projectLogo {
                    text-align: left;
                    margin-left: 1.2rem;
                    width: 100%;
                    float: none;
                    img {
                        width: 30%;
                    }
                }
                .projectHint {
                    margin-top: 2rem;
                    width: 100%;
                    float: none;
                    margin-left: 2rem;
                    p {
                        padding-right: 3rem;
                    }
                    .headerLink {
                        width: 75%;
                        padding: 1rem 1.2rem;
                    }
                }
            }
        }
    }

    // Responsive Branding Projects
    .projectsBrandingSection {
        .brandingWorkList {
            ul {
                li {
                    width: 100%;
                }
            }
        }
    }

    // Responsive About Us
    .aboutUsSection {
        .ceoProfile {
            h3 {
                width: 80%;
            }
        }
        .aboutText {
            padding-top: 3rem;
            padding-left: 3rem;
            h1 {
                font-size: 270%;
            }
            h3 {
                width: 90%;
                font-size: 130%;
            }
        }
    }
    // Responsive Services
    .servicesSection {
        .servicesIcons {
            width: 100% !important;
            .servicesList {
                li {
                    margin-top: 2rem;
                    width: 43%;
                    .serviceInfo {
                        h3 {
                            font-size: 120%;
                        }
                        span {
                            width: 95%;
                        }
                    }
                }
            }
        }
        .pickUs {
            h3 {
                font-size: 230%;
            }
            ul {
                li {
                    font-size: 110%;
                }
            }
        }
    }
    // Responsive Projects
    .projectsSection {
        .projectTemplate {
            .rightProjectInfo {
                .projectText {
                    h4 {
                        width: 90%;
                        font-size: 117%;
                    }
                }
            }
        }
    }
    // Responsive Clients
    .clientsSection {
        .ourClientsList {
            padding: 0rem 1rem;
            ul {
                text-align: center;
                li {
                    width: 45%;
                    margin: 0 0rem;
                }
            }
        }
    }

    // Responsive Social Media
    .socialFeedsSection {
        .socialMediaContent {
            .socialText {
                p {
                    font-size: 110%;
                }
                .socialMediaShare {
                    text-align: center;
                    a {
                        font-size: 110%;
                        width: 100%;
                    }
                }
            }
        }
    }

    // Responsive Schedule Content
    .scheduleACall {
        .scheduleForm {
            form {
                input {
                    width: 100%;
                    margin-right: 0;
                }
                textarea {
                    width: 100%;
                }
                button {
                    margin-right: 0;
                    display: block;
                    padding: 1rem 0;
                    width: 100%;
                }
            }
        }
    }
}
