// Main Variables
$white: #FFFFFF;
$mainLightGrey: #e9eaea;
$mainGrey: #333333;
$mainCyan: #73b09c;
$gradientCyan: #73b09c;
$gradientPurple: #7d57c7;

// Fonts
@font-face {
    font-family: Elephant;
    src: url('../fonts/Elephant Regular.ttf');
}
// Global Styling
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
html, body {
    background-color: $mainLightGrey;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.mainHeading {
    font-size: 270%;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    span {
        color: $mainCyan;
        font-weight: 400;
    }
}
.firstUnderline {
    display: block;
    color: $mainCyan;
    margin: 0;
    margin-left: 7rem;
}
.secondUnderline {
    display: block;
    color: $mainGrey;
    margin-top: -1rem;
}
.headerLink {
    color: $white;
    display: inline-block;
    width: 65%;
    font-size: 120%;
    text-transform: uppercase;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.2rem;
    margin-top: 1.5rem;
    padding: 1.3rem 3rem;
    border: 2px solid $white;
    position: relative;
    left: -800px;
    border-radius: 8px;
    transition: background 0.5s ease-in-out;
    i {
        padding-right: 1rem;
    }
    &:hover {
        text-decoration: none;
        background-color: $mainGrey;
        color: $white;
    }
    &:focus {
        text-decoration: none;
        color: $white;
    }
    &:active {
        text-decoration: none;
    }
}
a {
    &:focus {
        text-decoration: none;
    }
}
.ui-datepicker {
    overflow: hidden;
}
.ui-widget-header {
    background: $mainCyan !important;
    color: $white !important;
    border: none;
}
.ui-widget-content {
    border: 1px solid $mainCyan !important;
}
.ui-corner-all {
    border-radius: 0 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    color: $mainCyan !important;
}
.ui-datepicker .ui-datepicker-next-hover {
    background-color: transparent !important;
}
// Header Section Styling
.headerSection {
    width: 100%;
    position: relative;
    overflow: hidden;
    video {
        width: 100%;
        display: block;
    }
    &:before {
        content: '';
        position: absolute;
        background: linear-gradient(to right, rgba(125, 87, 99, 0.8), rgba(115, 176, 156, 0.9));
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
    }
    .headerContent {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        color: $white;
        z-index: 10;
        .topPanel {
            padding-top: 3rem;
            .logoBlock {
                img {
                    width: 70%;
                    max-width: 70%;
                }
            }
            .navMenuIcon {
                padding-top: 1rem;
                a {
                    color: $white;
                    font-size: 120%;
                    font-weight: 500;
                    span {
                        padding-right: 1rem;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                    &:active {
                        text-decoration: none;
                    }
                }
            }
        }
        .mainNavMenu {
            display: none;
            margin-top: 1rem;
            padding: 2.5rem 0;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            position: absolute;
            border-radius: 10px;
            ul {
                list-style-type: none;
                margin: 0;
                li {
                    display: inline-block;
                    padding: 0 2.2rem;
                    i {
                        padding-right: 0.7rem;
                        font-size: 92%;
                    }
                    a {
                        font-size: 110%;
                        color: $white;
                        font-weight: lighter;
                        text-transform: capitalize;
                        transition: color 0.5s ease-in-out;
                        &:hover {
                            color: $mainCyan;
                            text-decoration: none;
                        }
                        &:active {
                            text-decoration: none;
                        }
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .headerText {
            padding-left: 6rem;
            padding-top: 12.6rem;
            .textArea {
                h1 {
                    font-size: 300%;
                    position: relative;
                    left: -800px;
                }
                p {
                    font-size: 110%;
                    font-weight: lighter;
                    line-height: 2.6rem;
                    font-style: italic;
                    position: relative;
                    left: -800px;
                    strong {
                        color: $gradientCyan;
                    }
                }
            }
        }
    }
}

// About Us Section Styling
.aboutUsSection {
    background-color: $mainLightGrey;
    width: 100%;
    .aboutUsHeading {
        padding: 7rem 0 2rem 7rem;
    }
    .ceoProfile {
        background-image: linear-gradient(to right, rgba(125, 87, 99, 0.7), rgba(115, 176, 156, 0.8)), url('../images/ceo_bg.png');
        height: auto;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        color: $white;
        padding: 10rem 0 10rem 0;
        position: relative;
        img {
            width: 50%;
            max-width: 50%;
        }
        h3 {
            width: 70%;
            margin: 0 auto;
            font-weight: 500;
            letter-spacing: 0.3rem;
            font-weight: lighter;
            line-height: 2rem;
            text-transform: uppercase;
            font-size: 95%;
            margin-top: 1rem;
        }
        p {
            font-weight: lighter;
            font-size: 100%;
            margin-top: 0.25rem;
            letter-spacing: 0.1rem;
            a {
                font-family: 'Segoe UI';
                color: $white;
                font-weight: 400;
                letter-spacing: 0;
                transition: all 0.5s ease-in-out;
                i {
                    color: #0084b1;
                }
                &:hover {
                    color: #0084b1;
                    text-decoration: none;
                }
            }
        }
    }
    .aboutText {
        padding: 1rem 0 5rem 5rem;
        background-image: url('../images/code_bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
        h1 {
            margin: 0;
            font-size: 320%;
            font-weight: lighter;
        }
        h3 {
            margin: 0;
            background-color: $mainCyan;
            width: 60%;
            margin-top: 1rem;
            color: $white;
            padding: 1rem;
            padding-top: 0.8rem;
            font-weight: lighter;
            font-size: 110%;
        }
        p {
            width: 77%;
            font-weight: lighter;
            font-size: 113%;
            margin-top: 2rem;
            color: $mainGrey;
        }
    }
}

// Services Section Styling
.servicesSection {
    padding-bottom: 5rem;
    .servicesHeading {
        padding: 7rem 0 0rem 7rem;
    }
    .servicesIcons {
        .servicesList {
            text-align: center;
            margin-top: 3rem;
            list-style-type: none;
            li {
                display: inline-block;
                text-align: center;
                width: 21%;
                margin-top: 4rem;
                .serviceIcon {
                    i {
                        font-size: 300%;
                        width: 10rem;
                        height: 10rem;
                        color: $mainCyan;
                        margin: 0 auto;
                        padding-top: 2.8rem;
                        background-color: $white;
                        border-radius: 50%;
                        box-shadow: 8px 8px 0 #ccc;
                        transition: all 0.5s ease-in-out;
                        &:hover {
                            background-color: $mainGrey;
                            color: $mainCyan;
                            box-shadow: 5px 5px 0 #ccc;
                        }
                    }
                }
                .serviceInfo {
                    h3 {
                        font-size: 130%;
                        color: $mainGrey;
                        margin-bottom: 0;
                        margin-bottom: 0.4rem;
                        text-transform: capitalize;
                    }
                    span {
                        color: $mainGrey;
                        font-size: 80%;
                        display: inline-block;
                        width: 90%;
                        font-style: italic;
                    }
                }
            }
        }
    }
    .pickUs {
        background-image: linear-gradient(to right, rgba(125, 87, 99, 0.7), rgba(115, 176, 156, 0.7)), url('../images/pickus_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        margin-top: 4rem;
        height: auto;
        overflow: hidden;
        color: $white;
        padding: 7rem 3rem;
        padding-top: 7rem;
        padding-left: 5rem;
        h3 {
            font-weight: lighter;
            margin: 0;
        }
        ul {
            list-style-type: none;
            margin-top: 2rem;
            li {
                font-size: 100%;
                font-weight: lighter;
                margin-bottom: 1rem;
                transition: all 0.5s ease-in-out;
                i {
                    color: #ffc847;
                    padding-right: 0.7rem;
                    font-size: 80%;
                }
                &:hover {
                    padding-left: 2rem;
                }
            }
        }
    }
}

// Projects Section Styling
.projectsSection {
    margin-bottom: 5rem;
    .projectsHeading {
        padding: 7rem 0 0rem 7rem;
        margin-bottom: 3rem;
    }
    .projectTemplate {
        margin-top: 2rem;
        // Maysra Project
        .maysaraProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/maysara.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    color: $white;
                    border-color: $white;
                }
            }
        }
        // DRhino Project
        .maysaraProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/maysara.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    color: $white;
                    border-color: $white;
                }
            }
        }
        // Moka Project
        .mokaProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/moka_bakery.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    background-color: #f0d355;
                    color: $white;
                }
            }
        }
        // SellerPier Project
        .sellerpierProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/sellerpier.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    background-color: #f0d355;
                    color: $white;
                }
            }
        }
        // SouqNaql Project
        .souqProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/souq_naql.gif');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    background-color: #f0d355;
                    color: $white;
                }
            }
        }
        // SouqNaql WEB Project
        .souqWebProjectPic {
            background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/souq_naql_web.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 27rem 0;
            text-align: center;
            a {
                color: $white;
                border: 1px solid $white;
                padding: 1rem 5rem;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    background-color: #f0d355;
                    background-color: #f0d355;
                    color: $white;
                }
            }
        }
        .rightProjectInfo {
            padding: 0 5rem;
            .projectText {
                position: relative;
                h4 {
                    background-color: $mainCyan;
                    width: 35%;
                    padding: 0.5rem 0;
                    text-align: center;
                    font-weight: 400;
                    color: $white;
                    text-transform: capitalize;
                    border-radius: 4px;
                    font-size: 98%;
                    font-weight: lighter;
                    margin: 0;
                }
                h1 {
                    font-weight: lighter;
                    font-size: 300%;
                    margin: 0;
                    margin-top: 1rem;
                }
                p {
                    margin-top: 2rem;
                    line-height: 3rem;
                    font-size: 110%;
                    letter-spacing: 0.05rem;
                    font-weight: lighter;
                }
                h2 {
                    font-size: 140%;
                    font-weight: 500;
                    margin-top: 3rem;
                }
                .customerSpan {
                    display: block;
                    margin-top: 1rem;
                }
                .rateStars {
                    margin-top: 1rem;
                    i {
                        color: #f0d355;
                        font-size: 150%;
                        padding-right: 0.3rem;
                    }
                    .greyStar {
                        color: #797979;
                    }
                }
                .customerQuoteButton {
                    background-color: $mainCyan;
                    color: $mainGrey;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    padding: 1rem 3rem;
                    outline: 0;
                    border: 0;
                    font-weight: bold;
                    i {
                        font-size: 170%;
                        padding-left: 1rem;
                    }
                }
            }
        }
    }
    .customerQuote {
        background-color: $mainCyan;
        width: 100%;
        display: none;
        text-align: center;
        color: $white;
        padding: 5rem;
        p {
            width: 60%;
            margin: 0 auto;
            font-size: 130%;
            line-height: 3rem;
            font-style: italic;
            font-weight: lighter;
            .quoteMark {
                font-size: 300%;
                font-weight: 400;
            }
        }
        .customerName {
            background-color: $white;
            color: $mainCyan;
            display: inline-block;
            margin-top: 2rem;
            padding: 0.5rem 2rem;
            font-weight: bold;
        }
    }
}

// Branding Projects Stylings
.projectsBrandingSection {
    margin-bottom: 5rem;
    position: relative;
    .projectsHeading {
        padding: 7rem 0 0rem 7rem;
        margin-bottom: 3rem;
    }
    .brandingWorkList {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;
            position: relative;
            z-index: 50;
            li {
                width: 26%;
                display: inline-block;
                margin: 0;
                position: relative;
                padding: 0;
                z-index: 50;
                img {
                    width: 100%;
                    opacity: 0.9;
                    transition: 0.5s ease-in-out;
                    &:active {
                        transform: scale(2);
                        -webkit-transform: scale(2);
                        opacity: 1;
                    }
                }
                .middle {
                    transition: .5s ease-in-out;
                    opacity: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    .text p {
                        color: white;
                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-size: 90%;
                        font-weight: lighter;
                        display: inline-block;
                        transition: all 0.5s ease-in-out;
                    }
                }
                &:active {
                    z-index: 60;
                }
                
                &:active .middle {
                    display: none;
                }
                &:hover img {
                    opacity: 1;
                }
                &:hover .middle {
                    opacity: 1;
                }
            }
        }
        .img-zoomer {
            background-color: red;
            text-align: center;
            border: 6px solid $white;
            position: fixed;
            top: 0;
            left: 5;
            right: 5;
            margin: auto;
            display: none;
            border-radius: 10px;
            img {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
// GetInTouch Section Styling
.getInTouchSection {
    background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url("../images/letdothis_bgImage.png");
    height: auto;
    overflow: hidden;
    color: $white;
    text-align: center;
    padding: 12rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    .subscriptionContent {
        float: none;
        margin: 0 auto;
        h2 {
            font-weight: lighter;
            font-size: 300%;
        }
        p {
            text-transform: uppercase;
            letter-spacing: 0.3rem;
            font-size: 87%;
        }
        a {
            color: $white;
            display: inline-block;
            padding: 1rem 4rem;
            font-weight: 400;
            border: 1px solid $white;
            margin-top: 2rem;
            transition: background 0.5s ease-in-out;                i {
            padding-left: 0.5rem;
            }
            &:hover {
                background-color: #508b78;
                text-decoration: none;
            }
            &:focus {
                text-decoration: none;
            }
            &:active {
                text-decoration: none;
            }
        }
    }
}

// Our Clients Section Styling
.clientsSection {
    padding-bottom: 3rem;
    .ourClientsHeading {
        padding: 7rem 0 0rem 7rem;
        margin-bottom: 3rem;
    }
    .ourClientsList {
        padding: 2rem 1rem;
        ul {
            width: 100%;
            list-style-type: none;
            text-align: center;
            li {
                width: 15%;
                display: inline-block;
                margin: 0 1rem;
                img {
                    width: 85%;
                    max-width: 85%;
                    -webkit-filter: grayscale(100%);
                    filter: grayscale(100%);
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}

// Facebook Feed Styling
.socialFeedsSection {
    .socialHeading {
        padding: 7rem 0 0rem 7rem;
        margin-bottom: 3rem;
    }
    .socialMediaContent {
        background-color: $white;
        height: auto;
        overflow: hidden;
        padding: 2rem;
        padding-bottom: 0;
        padding-top: 6rem;
        box-shadow: 0px 0px 50px -22px #000;
        iframe {
            border:none;
            overflow:hidden;
            width:100%;
            height:500px;
            overflow: hidden;
            margin: 0;
            padding: 0;
            float:left; 
        }
        .socialText {
            color: $mainGrey;
            padding-bottom: 2rem;
            h2 {
                font-size: 300%;
                margin: 0;
                font-weight: lighter;
            }
            p {
                margin-top: 2rem;
                margin-bottom: 2rem;
                line-height: 2.5rem;
            }
            .socialMediaShare {
                a {
                    display: inline-block;
                    margin-top: 0.5rem;
                    text-align: center;
                    font-size: 100%;
                    width: 27%;
                    padding: 1rem 0;
                    font-weight: lighter;
                    border-radius: 6px;
                    color: $white;
                    transition: all 0.5s ease-in-out;
                    i {
                        padding-right: 0.5rem;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                    &:active {
                        text-decoration: none;
                    }
                }
                .facebookShare {
                    background-color: #3b5998;
                    &:hover {
                        background-color: #5374b8;
                    }
                }
                .linkedInShare {
                    background-color: #0084b1;
                    &:hover {
                        background-color: #009ed4;
                    }
                }
                .instagramShare {
                    background-color: #eb4152;
                    &:hover {
                        background-color: #eb7267;
                    }
                }
                .twitterShare {
                    background-color: #1da1f2;
                    &:hover {
                        background-color: #5ab8f2;
                    }
                }
            }
        }
    }
}
// Contact Us Section Styling
.contactUsSecion {
    width: 100%;
    margin: 0;
    .contactUsHeading  {
        padding: 7rem 0 0rem 7rem;
        margin-bottom: 3rem;
    }
    .googleMap {
        padding: 0;
        h2 {
            color: $mainGrey;
            font-weight: lighter;
            margin-left: 7rem;
            span {
                color: $mainCyan;
                font-weight: 400;
            }
        }
        .secondUnderline {
            color: $mainCyan;
            margin-bottom: 1.7rem;
            margin-left: 7rem;
        }
        iframe {
            width: 100%;
            height: 70rem;
        }
    }
    .contactingDetails {
        padding: 5rem;
        color: $mainGrey;
        background-image: url('../images/worldMap.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: 60%;
        .contactParagraph {
            font-size: 130%;
            width: 85%;
            margin-top: 1.6rem;
            font-weight: lighter;
            font-style: italic;
        }
        #contactUsForm {
            display: none;
            margin-top: 2rem;
            p {
                input {
                    border-radius: 5px;
                    width: 80%;
                    padding: 1.2rem 2rem;
                    border: 0;
                    color: #777777;
                    outline: 0;
                    border: 1px solid $mainCyan;
                    transition: all 0.5s ease-in-out;
                    border-radius: 5px;
                    &:hover {
                        border-color: #508b78;
                        padding-left: 3rem;
                    }
                }
                textarea {
                    width: 80%;
                    padding: 1.2rem 2rem;
                    border: 0;
                    outline: 0;
                    border: 1px solid $mainCyan;
                    height: 13rem;
                    transition: all 0.5s ease-in-out;
                    border-radius: 5px;
                    &:hover {
                        border-color: #508b78;
                        padding-left: 3rem;
                    }
                }
            }
            button {
                outline: 0;
                border: 0;
                padding: 0.8rem 3.2rem;
                border-radius: 6px;
                font-weight: bold;
            }
            .submitSubjectButton {
                background-color: $mainCyan;
                color: $white;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: #508b78;
                }
            }
            .resetFieldsButton {
                background-color: $mainGrey;
                color: #e1e1e1;
                transition: all 0.5s ease-in-out;
                &:hover {
                    background-color: #5a5a5a;
                }
            }
        }
    }
}
// Footer Section Styling
.footerSection {
    padding-top: 7rem;
    background-image: linear-gradient(to right, rgba(125, 87, 99, 0.5), rgba(115, 176, 156, 0.6)), url('../images/main_footer_bgImage.png');
    height: auto;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    .addressInfo {
        color: $white;
        h3 {
            font-weight: lighter;
            font-size: 170%;
        }
        .addressHeadingUnderline {
            color: $mainCyan;
            font-weight: bold;
        }
        ul {
            margin: 0;
            list-style-type: none;
            margin-top: 2rem;
            li {
                padding-left: 1rem;
                padding-bottom: 1rem;
                font-weight: lighter;
                transition: padding 0.5s ease-in-out;
                i {
                    padding-right: 1rem;
                }
                &:hover {
                    padding-left: 2rem;
                }
            }
        }
    }
    .footerNav {
        color: $white;
        ul {
            margin: 0;
            margin-top: 1rem;
            list-style-type: none;
            li {
                a {
                    text-transform: capitalize;
                    font-weight: lighter;
                    font-size: 105%;
                    color: $white;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        color: $mainCyan;
                        text-decoration: none;
                        padding-left: 0.5rem;
                    }
                }
                i {
                    padding-right: 0.7rem;
                    font-size: 80%;
                }
                margin-bottom: 0.9rem;
            }
        }
    }
    .logoAndSocial {
        margin-top: 3.7rem;
        text-align: left;
        .logoFooterBlock {
            display: inline-block;
            img {
                width: 70%;
                max-width: 70%;
            }
        }
        .socialIconsBlock {
            text-align: left;
            margin: 0 auto;
            a {
                i {
                    width: 3rem;
                    height: 3rem;
                    color: #000;
                    border-radius: 50%;
                    padding: 0.8rem;
                    margin: 0 0.3rem;
                    background-color: $white;
                    transition: background 0.5s ease-in-out;
                }
                .fa-facebook {
                    padding-left: 1.1rem;
                }
                .fa-facebook:hover {
                    background-color: #4267b2;
                    color: $white;
                }
                .fa-twitter:hover {
                    background-color: #1da1f2;
                    color: $white;
                }
                .fa-instagram:hover {
                    background-color: #eb4152;
                    color: $white;
                }
                .fa-google-plus:hover {
                    background-color: #dc4e41;
                    color: $white;
                }
                .fa-linkedin:hover {
                    background-color: #0084b1;
                    color: $white;
                }
            }
        }
    }
    .copyrightsFooter {
        text-align: center;
        color: $white;
        opacity: 0.9;
        font-size: 100%;
        font-weight: lighter;
        padding: 2rem 0;
        padding-top: 4rem;
        transition: all 0.5s ease-in-out;
        a {
            color: $mainCyan;
            text-decoration: none;
            transition: color 0.5s ease-in-out;
            &:hover {
                color: #51d7aa;
            }
        }
    }
}

/* Schedule a Call Page Styling */

// Header Section Styling
.headerContentSchedule {
    color: $white;
    .topPanel {
        padding-top: 3rem;
        padding-bottom: 3rem;
        box-shadow: 0px 0px 50px -22px #000;
        background-color: $white;
        .logoBlock {
            img {
                width: 70%;
                max-width: 70%;
            }
        }
        .navMenuIcon {
            padding-top: 1rem;
            a {
                color: $mainGrey;
                font-size: 120%;
                font-weight: 500;
                span {
                    padding-right: 1rem;
                }
                &:hover {
                    text-decoration: none;
                }
                &:focus {
                    text-decoration: none;
                }
                &:active {
                    text-decoration: none;
                }
            }
        }
    }
    .mainNavMenu {
        display: none;
        margin-top: 1rem;
        padding: 2.5rem 0;
        background-color: rgba(0, 0, 0, 0.4);
        text-align: center;
        position: relative;
        border-radius: 10px;
        ul {
            list-style-type: none;
            margin: 0;
            li {
                display: inline-block;
                padding: 0 2.2rem;
                i {
                    padding-right: 0.7rem;
                    font-size: 92%;
                }
                a {
                    font-size: 110%;
                    color: $white;
                    font-weight: lighter;
                    text-transform: capitalize;
                    transition: color 0.5s ease-in-out;
                    &:hover {
                        color: $mainCyan;
                        text-decoration: none;
                    }
                    &:active {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Schedule a Call Content Styling
.scheduleACall {
    background-color: $white;
    padding: 10rem 10rem;
    margin-top: 4rem;
    box-shadow: 0px 0px 50px -26px #000;
    position: relative;
    .tapShoulderParagraph {
        h1 {
            font-size: 400%;
            font-weight: lighter;
        }
        span {
            display: block;
            margin-bottom: 0.3rem;
            margin-top: 0.3rem;
            i {
                font-size: 110%;
                padding-right: 1rem;
            }
        }
        .socialIcons {
            color: $mainGrey;
            font-size: 150%;
            margin-top: 2rem;
            a {
                padding: 0 0.7rem;
                color: $mainGrey;
                transition: color 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: $mainCyan;
                }
            }
        }
    }
    .scheduleForm {
        h3 {
            color: $mainGrey;
            font-family: 'Sans';
            a {
                font-family: 'Sans';
                color: $mainCyan;
                transition: all 0.5s ease-in-out;
                &:hover {
                    text-decoration: none;
                    color: #127d49;
                }
            }
        }
        form {
            margin-top: 2rem;
            input {
                width: 40%;
                margin-right: 4rem;
                margin-top: 2rem;
                padding: 2.2rem 0;
                outline: 0;
                border: 0;
                border-bottom: 1px solid #868686;
                &:focus {
                    border-bottom: 2px solid $mainCyan;
                }
            }
            textarea {
                width: 87.5%;
                margin-right: 4rem;
                margin-top: 2rem;
                padding: 2.2rem 0;
                padding-bottom: 14rem;
                outline: 0;
                border: 0;
                border-bottom: 1px solid #868686;
                &:focus {
                    border-bottom: 2px solid $mainCyan;
                }
            }
            button {
                padding: 1rem 10rem;
                margin-right: 8rem;
                background-color: transparent;
                outline: 0;
                border: 0;
                margin-top: 3rem;
                border: 1px solid $mainCyan;
                color: $mainCyan;
                transition: background 0.5s ease-in-out;
                &:hover {
                    background-color: $mainCyan;
                    color: $white;
                }
            }
            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #000;
                font-size: 85%;
                font-weight: 500;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: #000;
                font-size: 85%;
                font-weight: 500;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: #000;
                font-size: 85%;
                font-weight: 500;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: #000;
                font-size: 85%;
                font-weight: 500;
            }
        }
    }
}
.popUpSchedule {
    background-color: red;
    padding: 6rem 0;
    background-color: $white;
    box-shadow: 0px 0px 30px -10px #000;
    text-align: center;
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    display: none;
    .exitButton {
        height: 4rem;
        width: 4rem;
        background-color: $mainCyan;
        padding-top: 0.85rem;
        position: absolute;
        right: 0;
        top: 0;
        span {
            color: $mainGrey;
            font-weight: bold;
        }
    }
    .scheduleHeading {
        h1 {
            color: $mainCyan;
            font-weight: lighter;
            font-size: 300%;
        }
        .firstUnderline {
            margin-left: 0;
        }
    }
    .reservationForm {
        form {
            input {
                width: 40%;
                margin-right: 4rem;
                margin-top: 2rem;
                padding: 2.2rem 0;
                outline: 0;
                border: 0;
                border-bottom: 1px solid #868686;
                &:focus {
                    border-bottom: 2px solid $mainCyan;
                }
            }
            button {
                padding: 1rem 10rem;
                margin-right: 0;
                background-color: $mainCyan;
                outline: 0;
                border: 0;
                margin-top: 4rem;
                color: $white;
                transition: background 0.5s ease-in-out;
                &:hover {
                    background-color: darken($mainCyan, 10%);
                    color: $white;
                }
            }
        }
    }
}
.schedulePopUp {
    padding: 6rem 0;
    background-color: $white;
    box-shadow: 0px 0px 30px -10px #000;
    text-align: center;
    position: absolute;
    h1 {
        color: $mainCyan;
        font-weight: lighter;
        font-size: 300%;
    }
    .firstUnderline {
        margin-left: 0;
    }
    .meetingForm {
        form {
            input {
                width: 40%;
                margin-right: 4rem;
                margin-top: 2rem;
                padding: 2.2rem 0;
                outline: 0;
                border: 0;
                border-bottom: 1px solid #868686;
                &:focus {
                    border-bottom: 2px solid $mainCyan;
                }
            }
            button {
                padding: 1rem 10rem;
                margin-right: 0;
                background-color: $mainCyan;
                outline: 0;
                border: 0;
                margin-top: 4rem;
                color: $white;
                transition: background 0.5s ease-in-out;
                &:hover {
                    background-color: darken($mainCyan, 10%);
                    color: $white;
                }
            }
        }
    }
}
/* Project Details Page Styles */
.projectHeaderSection {
    overflow: hidden;
    height: 100vh;
    background: linear-gradient(to right, rgba(125, 87, 99, 0.7), rgba(115, 176, 156, 0.8)), url('../images/souq_naql_bg.png');
    background-size: cover;
    padding-bottom: 5rem;
    .headerContent {
        color: $white;
        position: relative;
        z-index: 11;
        .topPanel {
            padding-top: 3rem;
            .logoBlock {
                img {
                    width: 70%;
                    max-width: 70%;
                }
            }
            .navMenuIcon {
                padding-top: 1rem;
                a {
                    color: $white;
                    font-size: 120%;
                    font-weight: 500;
                    span {
                        padding-right: 1rem;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                    &:focus {
                        text-decoration: none;
                    }
                    &:active {
                        text-decoration: none;
                    }
                }
            }
        }
        .mainNavMenu {
            display: none;
            margin-top: 1rem;
            padding: 2.5rem 0;
            background-color: rgba(0, 0, 0, 0.4);
            text-align: center;
            position: absolute;
            border-radius: 10px;
            z-index: 15;
            ul {
                list-style-type: none;
                margin: 0;
                li {
                    display: inline-block;
                    padding: 0 2.2rem;
                    i {
                        padding-right: 0.7rem;
                        font-size: 92%;
                    }
                    a {
                        font-size: 110%;
                        color: $white;
                        font-weight: lighter;
                        text-transform: capitalize;
                        transition: color 0.5s ease-in-out;
                        &:hover {
                            color: $mainCyan;
                            text-decoration: none;
                        }
                        &:active {
                            text-decoration: none;
                        }
                        &:focus {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .projectDescription {
            display: block;
            padding-top: 15rem;
            margin-bottom: 30rem;
            .projectLogo {
                text-align: center;
                img {
                    background-color: $white;
                    width: 70%;
                    border-radius: 50%;
                    padding: 0.6rem;
                    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 0.5);
                    transition: all 0.5s ease-in-out;
                    position: relative;
                    &:hover {
                        box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);   
                    }
                }
            }
            .projectHint {
                h1 {
                    font-size: 320%;
                    font-weight: lighter;
                    margin: 0;
                }
                p {
                    font-weight: lighter;
                    font-size: 110%;
                    margin-top: 1rem;
                }
                .headerLink {
                    left: 0;
                    display: block;
                }
            }
        }
        .downArrows {
            text-align: center;
            a {
                color: $white;
                font-size: 400%;
            }
        }
    }
}
.projectMockup {
    padding-bottom: 4rem;
    .workProjectHeading {
        padding: 5rem 0 2rem 7rem;
    }
    .mockUpPicture {
        text-align: center;
        img {
            width: 70%;
            margin-bottom: 6rem;
            border-radius: 9px;
            box-shadow: 20px 20px 0 0 rgba(0, 0, 0, 0.1);
        }
    }
}
.projectDetailsGetInTouch {
    margin-bottom: 3rem;
}




@import 'responsive';